/* .h1 {
    font-size: 3em;
    text-align: center;
    color: #333;    
    background-color: lightgray;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .parrafo {
    background-color: ghostwhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  
  .boton  {
    margin-top: 1rem;
  } */

  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: lightgray;     
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } 
  
  
.calculadora {
  display: inline-block;
  text-align: center;
  margin-top: 2rem;
}
h1 {
  background-color: #1a237e;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.btn-spacing {
  margin: 1.5px;
}

.btn-size {
  width: 50px;
  height: 50px;
}

.btn-delete-size {
  width: auto;
  height: 50px;
}


.btn {
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

#resultado {
  width: 220px;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  background-color: black;
  color: lime; 
  font-family: "Digital-7 Mono", monospace;
  border: none;
}
